@using Microsoft.AspNetCore.Identity
@using SpareParts.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="login-section">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="action">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </div>
        <div class="action">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </div>
    }
    else
    {
        <div class="action">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="action">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>

<style>
.login-section a, .login-section button {
    font-size: 1rem;
    color: #ffffff;
}

.login-section a:hover, .login-section button:hover {
    color: #ea0707;
}

.nav-link btn btn-link:hover {
    color: #ea0707;
}
</style>
