@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Modal -->
<div class="modal fade" id="login-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="login-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                Login has been done with success!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" color="green">Okay</button>
            </div>
        </div>
    </div>
</div>
